*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.064em;
	color: #5B5858;
}

a {
	text-decoration: none;
	color: inherit;
}

li{
	list-style-type: none;
}

img{
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.container{
	width: 1175px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}

.title {
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	line-height: 1.48;
	letter-spacing: 0.064em;
	font-weight: 700;
	color: #333333;
	position: relative;
}

.title::after{
	content: '';
	display: block;
	position: absolute;
	width: 45px;
	height: 2px;
	background-color: #252525;;
	bottom: -7px;
	left: 0;
}

.small-title{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
}

.subtitle{
	font-size: 20px;
	line-height: 1.15em;
	letter-spacing: 0.064em;
	opacity: 0.8;
}

.header{
	color: #fff;
	padding: 80px 0;
	position: absolute;
	width: 100%;
}

.nav{
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	line-height: 1.45em;
	letter-spacing: 0.14em;
	text-transform: uppercase;
	text-align: right;
	align-items: center;
}

.header-nav-list{
	display: flex;
	justify-content: flex-end;
}

.header-nav-item{
	position: relative;
	margin: 0 0 0 58px;
}

.nav-link{
	display: inline-block;
	position: relative;
	padding: 0 0 7px 0;
}

.nav-link::after{
	content: '';
	display: block;
	position: absolute;
	width: 25%;
	height: 2px;
	background-color: #4CAF50;
	bottom: 5px;
	right: 0;
	transition: all 0.5s ease-out;
}

.nav-link:hover::after{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #4CAF50;
	bottom: 5px;
	right: 0;
	transition: all 0.5s ease-out;
}

.nav-list-second{
	display: none;
	position: absolute;
	min-width: 160px;
	top: 100%;
	left: 0;
	padding: 10px 0;
	background-color: #5B5858;
	text-align: center;
}

.header-nav-item:hover .nav-list-second{
	display: block;
}

.nav-item-second{
	position: relative;
}

.nav-list-third{
	display: none;
	position: absolute;
	min-width: 160px;
	top: 0;
	left: 100%;
	padding: 10px 0;
	background-color: #888888;
	text-align: center;
}

.header-nav-item:last-child .nav-list-third{
	display: none;
	position: absolute;
	min-width: 160px;
	top: 0;
	left: -100%;
	padding: 10px 0;
	background-color: #888888;
	text-align: center;
}

.nav-item-second:hover .nav-list-third{
	display: block;
}

.slider{
	margin: 0 0 150px;
}

.slider-bg{
	background: url(./img/main-bg.jpg) center no-repeat;
	background-color: #000;
	background-size: cover;
}

.slider-title{
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 72px;
	line-height: 1.48em;
	letter-spacing: 0.064em;
	color: #FFFFFF;
	margin: 0 0 25px;
	text-transform: uppercase;
}

.slider-item{
	padding: 243px 0 0;
	color: #fff;
	text-align: center;
	height: 100vh;
}

.about{
	margin: 0 0 117px;
}

.about-wrapper{
	display: flex;
}

.about-box{
	display: flex;
}

.about-title{
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	line-height: 1.48em;
	letter-spacing: 0.064em;
	margin: 0 0 32px;
	text-transform: uppercase;
}

.about-title strong{
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	line-height: 1.17em;
	font-weight: 300;
	color: #504E4E;
}

.about-text{
	max-width: 321px;
	padding-left: 60px;
	position: relative;
	font-weight: 300;
}

.about-text::before{
	content: '';
	width: 20px;
	height: 2px;
	background: #353535;
	position: absolute;
	top: 10px;
	left: 20px;
}

.about-info-left{
	padding-top: 77px;
	margin-right: -120px;
	padding-left: 55px;
	z-index: 2;
}

.about-box-right{
	flex-direction: row-reverse;
}

.about-box-right{
	align-items: flex-end;
}

.about-info-right{
	margin-bottom: 80px;
	margin-left: -80px;
}

.about-box-right .about-img{
	margin-top: 168px;
	position: relative;
	z-index: -1;
}

.about-box-right .about-img::before{
	content: '';
	background-color:#4CAF50;
	opacity: 0.8;
	position: absolute;
	width: 309px;
	height: 418px;
	display: block;
	top: -106px;
	left: -210px;
	z-index: 0;
}

.services{
	background-color: #FBFBFB;
	padding: 135px 0;
	margin: 0 0 220px;
}

.services-list{
	display: flex;
	justify-content: space-between;
}

.services-title{
	margin: 0 0 85px;
}

.services-item{
	width: 32%;
	padding: 50px 40px 35px;
	background-color: #fff;
}

.item{
	position: relative;
}

.services-item:hover::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #70BF73;
}

.item-title{
	margin: 0 0 28px;
}

.item-text{
	font-size: 12px;
	line-height: 2.08em;
	letter-spacing: 0.084;
	margin: 0 0 15px;
	color: #777777;
}

.item-link{
	font-family: 'Oswald', sans-serif;
	font-size: 10px;
	line-height: 1.5em;
	font-weight: 300;
	text-transform: uppercase;
	color: #252525;
	opacity: 0.5;
}

.item span{
	position: absolute;
	top: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	opacity: 0.5;
	border-radius: 50%;
	box-shadow: 0px 0px 20px #979797;
}

.item span img{
	position: absolute;
	width: 25px;
	height: 25px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.services-item:hover span, .services-item:hover .item-link{
	opacity: 1;
}

.works-head{
	margin-bottom: 160px;
}

.works-head-title{
	margin-bottom:45px;
}

.works-menu{
	display: flex;
}

.works-menu-link{
	display: inline-block;
	padding: 0 20px;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 1.48;
	letter-spacing: 0.15;
	color: #252525;
	opacity: 0.3;
	transition: opacity 0.3s linear;
}

.works-menu-link:hover{
	opacity: 1;
}

.works-list{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-wrap: wrap;
}

.works-item{
	margin-bottom: 177px;
	position: relative;
}

.works-menu>li:first-child{
	margin-left: -20px;
}

.works-item:nth-child(odd){
	margin-top: -360px;
	text-align: right;
}

.works-title{
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	line-height: 1.48;
	letter-spacing: 0.064em;
	color: #333333;
	position: absolute;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 64px;
	top: 260px;
}

.works-item:nth-child(odd) .works-title {
	left: -130px;
	text-align: left;
}

.works-item:nth-child(even) .works-title {
	right: -130px;
}

.works-item img{
	width: 455px;
	height: auto;
}

.works-item:hover .works-link{
	opacity: 1;
}

.works-link{
	opacity: 0;
	text-transform: uppercase;
	color: #252525;
	transition: opacity 0.3s linear;
}

.line-th{
	transition: text-decoration 0.3s linear;
}

.line-th:hover {
	text-decoration: line-through;
	text-decoration-thickness: 3px;
	text-decoration-color: #70BF73;
}

.works-text{
	width: 300px;
	margin: 0 auto;
}

.works-subtitle{
	font-size: 18px;
	line-height: 1.17;
	color: #252525;
	margin-bottom: 17px;
}

.works-descr{
	font-size: 13px;
	line-height: 1.77;
	color: #C2C2C2;
	margin-bottom: 20px;
}

.team{
	padding: 135px 0 167px;
	margin-bottom: 177px;
	background: #FBFBFB;
	color: #252525;
}

.team-list{
	display: flex;
}

.team-title{
	margin-bottom: 70px;
}

.team-item{
	text-align: center;
	position: relative;
	overflow: hidden;
	margin: 0 15px;
}

.team-item:hover .team-text{
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);
}

.team-text{
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 13px 0 30px;
	position: absolute;
	bottom: -29%;
	left: 0;
	transition: all 0.5s linear;
}

.team-name{
	margin-bottom: 20px;
}

.team-name.title::after{
	bottom: -16px;
	left: 50%;
	transform: translateX(-22px);
}

.team-position{
	margin-bottom: 14px;
	color: rgba(37, 37, 37, 0.4);
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	line-height: 1.48;
	letter-spacing: 0.064em;
	font-weight: 300;
}

.team-info{
	color: #777777;
	line-height: 2.08;
	letter-spacing: 0.084;
}

.reviews{
	margin-bottom: 117px;
	text-align: center;
	color: rgba(55, 55, 55, 1);
}

.small-container{
	width: 100%;
	max-width: 735px;
}

.reviews-text{
	font-weight: 300;
	line-height: 2.2;
	margin-bottom: 80px;
	position: relative;
}

.reviews-text::after{
	content: '';
	background-image: url(./img/quote.svg);
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: -50%;
	left: 50%;
}

.reviews-author{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.48;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.reviews-author span {
	color: rgba(55, 55, 55, 0.4);
	text-transform: none;
}

.reviews-rate{
	display: flex;
	justify-content: center;
}

.reviews-star{
	opacity: 0.2;
}

.reviews-star:hover{
	opacity: 1;
}

.reviews-navigation{
	position: relative;
}

.footer{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-weight: 400;
}

.footer-top{
	display: flex;
	justify-content: center;
	letter-spacing: 0.111em;
}

.column-left{
	width: 50%;
	background: #FBFBFB;
	padding: 70px 0 100px;
}

.column-right{
	width: 50%;
	background: #70BD59;
	padding: 70px 0 100px;
}

.column-icon{
	margin-bottom: 20px;
}

.column-title{
	font-size: 24px;
	line-height: 1.48;
	margin-bottom: 20px;
}

.column-left .column-title{
	color: rgba(55, 55, 55, 1);
}

.column-left .column-text{
	color: rgba(55, 55, 55, 0.8);
}

.column-right .column-title{
	color: rgba(255, 255, 255, 1);
}

.column-right .column-text{
	color: rgba(255, 255, 255, 0.8);
}

.fotter-bottom{
	font-weight: 300;
	font-size: 13px;
	line-height: 1.48;
	letter-spacing: 0.064em;
	color: rgba(255, 255, 255, 0.5);
}

.fotter-bottom address{
	margin-bottom: 10px;
	font-style: normal;
}

.contact~.contact{
	margin-bottom: 40px;
}

.contact{
	display: inline-block;
}


.footer-contacts{
	background: #2E2E2E;
	padding: 142px 0 82px;
}

.socials-list{
	display: flex;
	justify-content: center;
	font-size: 0;
}

.socials-link{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(./img/sprite-socials.png);
	border: 1px solid #fff;
	border-radius: 50%;
	transition: all 0.3s linear;
}

.socials-item{
	margin: 0 10px;
}

.link-f{
	background-position: -52px -2px;
}

.link-t{
	background-position: -2px -2px;
}

.link-p{
	background-position: -96px -3px;
}

.copyright{
	background: #252525;
	padding: 20px 0;
}

.socials-link:hover{
	background-color: #fff;
}

.socials-link:hover.link-f{
	background-position: -52px -41px;
}

.socials-link:hover.link-t{
	background-position: -2px -41px;
}

.socials-link:hover.link-p{
	background-position: -96px -41px;
}